<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs')  %>
    
<body class="d-flex flex-column min-vh-100">
    <%- include('./partials/nav.ejs')  %> 
    <div class="about content">
        <h1>What is a blog?</h1>
        <p>First, let's go over a brief history -- in 1994, Swarthmore College student Justin Hall is credited with the creation of the first blog, Links.net. At the time, however, it wasn't considered a blog … just a personal homepage.</p>
        <p>In 1997, Jorn Barger, blogger for Robot Wisdom, coined the term "weblog", which was meant to describe his process for "logging the web" as he surfed the internet. The term "weblog" was shortened to "blog" in 1999, by programmer Peter Merholz.
        </p>
        <p>In the early stages, a blog was a personal web log or journal in which someone could share information or their opinion on a variety of topics. The information was posted reverse chronologically, so the most recent post would appear first.
        </p>
        <p>Nowadays, a blog is a regularly updated website or web page, and can either be used for personal use or to fulfill a business need.
        </p>
        <p>If a personal blog is successful enough, the writer can also make money off of it via sponsorships or advertisements. </p>

        <h1>What is a blog post?</h1>
        <p>A blog post is an individual web page on your website that dives into a particular sub-topic of your blog.
        </p>
        <p>For instance, let's say you start a fashion blog on your retail website. One blog post might be titled, "The Best Fall Shoes for 2019". The post ties back to your overall blog topic as a whole (fashion), but it also addresses a very particular sub-topic (fall shoes).</p>
        <p>Blog posts allow you to rank on search engines for a variety of keywords. In the above example, your blog post could enable your business to rank on Google for "fall shoes". When someone searches for fall shoes and comes across your blog post, they have access to the rest of your company's website. They might click "Products" after they read your post, and take a look at the clothing items your company sells.</p>
    </div>
    <%- include('./partials/footer.ejs')  %>
</body>
</html>